/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
      format("truetype");
  font-display: swap;
}

:root {
  --background: #f9f9f9;
  --text-primary: #363636;
  --text-secondary: #565656;
  --text-disabled: #9e9e9e;
  --basic-button-background: #e9e9e9;
  --tab-background: #e9e9e9;
  --tab-text: #666666;
  --tab-num: #9e9e9e;
  --tab-active-background: #363636;
  --tab-active-text: #f3f3f3;
  --tab-active-num: #b3b3b3;
  --divider: #e3e3e3;
  --bullet: #b3b3b3;
  --code: #e9e9e9;
  --chip: #e9e9e9;
  --highlight: #e9e9e9;
  --del: #d3d3d3;
  --paper-background: #f0f0f0;
}

:root.dark {
  --background: #111111;
  --text-primary: #f3f3f3;
  --text-secondary: #b3b3b3;
  --text-disabled: #757575;
  --basic-button-background: #222222;
  --tab-background: #222222;
  --tab-text: #b3b3b3;
  --tab-num: #757575;
  --tab-active-background: #f3f3f3;
  --tab-active-text: #363636;
  --tab-active-num: #616161;
  --divider: #262626;
  --bullet: #616161;
  --code: #222222;
  --chip: #222222;
  --highlight: #222222;
  --del: #363636;
  --paper-background: #191919;
}

html {
  letter-spacing: -0.03em;
  line-height: 1.6;
  font-weight: 300;
}

::selection {
  background-color: var(--highlight);
}

.rehype-code-title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: -22px;
  font-size: 13px;
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  background-color: var(--highlight);
  color: var(--text-secondary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
